

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
	width: 90%;
	max-width:500px;
	margin: 0 auto;
}

fieldset {
	background-color: #eeeeee;
}

label {
	margin: 5px 0;	
	display: inline-block;
	width: 180px;
}

select {
	margin:10px 0;
}