* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
	width: 90%;
	max-width: 490px;
	margin: 0 auto;
	margin-top: 50px;
}

fieldset {

	background-color: #e8e8e8;
}

label {
	margin-left: 50px;
	display: inline-block;
	width: 120px;
}

input {
	margin-top: 20px;
}

#age {
	width: 50px;
}

#courses {
	margin: 20px 0;
}

#textarea {
	height: 50px;
	resize: none;
}

#agree {
	margin: 20px 0 0 50px;
}

.agree-title {
	margin: 5px;
	width: 400px;
}

.button {
	padding: 20px;
	text-align: center;
}