* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
	margin-top: 50px;
}

fieldset {
	margin: 0 auto;
	border: none;
	background-color: #e8e8e8;
	width: 500px;
}

label {
	padding: 0 65px;
	display: inline-block;
	width: 250px;
}

input {
	margin-top: 20px;
}

#age {
	width: 50px;
}

#courses {
	margin: 20px 0;
}

#agree {

	margin: 20px 0 0 50px;
}

.button {
	padding: 20px;
	text-align: center;
}

button {
	font-size: 16px;
	padding: 0 10px;
}