* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

* {
	transition: all 0.1s ease-in;
}

html,
body {
	width: 100%;
	height: 100%;

}

body {
	font-family: 'Lucida Sans Unicode', sans-serif;
	text-align: center;
	color: #FFFFFF;

	background: #3399CC;
	border: 25px solid #2B81AC;
}

li {
	font-size: 22px;
	list-style: none;
	display: inline-block;
	width: calc(25% - 4px);
}

header {
	padding-top: 37px;
	margin-bottom: 25px;
}

.container {
	width: 90%;
	max-width: 1170px;
	margin: 0 auto;

	height: 100%;
}

h1 {
	font-weight: 400;
	font-size: 21px;
	line-height: 25px;
	text-align: left;

}

h1 .wi {
	margin-bottom: 4px;
	margin-left: 3px;
	font-weight: 400;
	font-size: 27px;
	line-height: 39px;

}

.weather {
	font-size: 0;
	padding: 2px;
	background-color: #fff;
}

.weather li {
	margin: 2px;
	font-size: 22px;
	line-height: 26px;
}

.w50 {
	width: calc(50% - 4px);
}

.w100 {
	width: calc(100% - 4px);
}

.blue-bg {
	background: #3399CC;
}

.lblue-bg {
	background: #33CCCC;
}

.lavanda-bg {
	background: #996699;
}

.red-bg {
	background: #C24747;
}

.orange-bg {
	background: #E2674A;
}

.yellow-bg {
	background: #FFCC66;
}

.lgreen-bg {
	background: #99CC99;
}

.olive-bg {
	background: #669999;
}

.pink-bg {
	background: #CC6699;
}

.green-bg {
	background: #339966;
}

.violet-bg {
	background: #666699;
}

.weather-item__city {
	margin-right: 3px;
	padding-top: 28px;
}

.weather__temp {

	padding-right: 6px;
	font-size: 22px;
	line-height: 26px;
}

.weather-item__block .wi {
	margin-bottom: 7px;
}

.weather-item__block {
	padding-top: 2px;
	opacity: 70%;
	margin-bottom: 19px;
}

.wi {
	font-size: 42px;
	line-height: 61px;
	vertical-align: middle;

}

ul:hover li:not(:hover) {
	opacity: .5;
}



.violet-bg .weather-item__city {
	margin-left: 8px;
}

.green-bg .weather-item__city {
	margin-left: 8px;
}

.green-bg .weather__temp {
	padding-right: 20px;
}

.lgreen-bg .weather-item__city {
	margin-right: 12px;
}

.violet-bg .weather-item__block {
	margin-right: 5px;
}

.orang-bg .wi {
	margin-left: 45px;
}

footer {
	margin-top: 38px;
	text-align: left;
	font-size: 16px;
	line-height: 19px;
}