/* josefin-sans-300 - latin */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/Josefin/josefin-sans-v25-latin-300.woff2") format("woff2"), url("../fonts/Josefin/josefin-sans-v25-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* josefin-sans-regular - latin */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/Josefin/josefin-sans-v25-latin-regular.woff2") format("woff2"), url("../fonts/Josefin/josefin-sans-v25-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* aleo-regular - latin */
@font-face {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/Aleo/aleo-v11-latin-regular.woff2") format("woff2"), url("../fonts/Aleo/aleo-v11-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}