@media screen and (min-width: 1361px){
	.wrap-dashed{

	padding: 0 194px;
	
	}
	
}
@media screen and (max-width: 1361px){
	.wrap-dashed{
		padding: 0px 14.55588vw;
	}
}
@media screen and (max-width: 1024px){
	.container {
		width: 94%;
		max-width: 960px;
	}
	.aboutus {
		.container {
			gap: 15px;
		}
	}
}

@media screen and (max-width: 820px){
	.container {
		max-width: 720px;
	}
	.header {
		height: 136px;
		.container {
			flex-wrap: wrap;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 19px 0;
		}
		.header-menu__list{
			margin-top: 9px;
		}
		&.fixed .header-menu__list{
			margin-top: 0px;
		}
	}
	.header.fixed .container {
		padding: 18px;
		.wrap-logo {
			display: none;
		}
	}

	.aboutus {
		padding: 60px 0;
		.container {
			gap: 33px;
			flex-wrap: wrap-reverse;
		}
		.wrap-info {
			max-width: 100%;
			text-align: center;
		}
		.info__text {
			padding: 24px 0;
		}
		.wrap-images {
			width: 100%;
			flex-wrap: wrap;
			flex-direction: row;
			gap: 0;
			justify-content: space-between;
			& div+div {
				padding-top: 0;
			}
			.image {
				// max-width: 348px;
				max-width: 48.334%;
			}
		}
		.wrap-btn {
			margin: 0 auto;
		}
	}

	.steps {
		padding:75px 0 60px;
		&__list {
			flex-direction: column;
			align-items: center;
			gap: 75px;
		}
	}

	.wrap-dashed{
		display: none;
	}

	.location.top,
	.location.bottom {
		padding: 120px 0;
		.info__text {
		padding: 16px 0 28px;
		}
		.info.grand {
			max-width: 100%;
		}
	}
	


	.review {
		padding: 60px 0 120px;

	}
	.review-info {
		display: block;
		.user-image {
			max-width: 100%;

			padding-left: 0;
	
			img {
			position: relative;
			}
		}
		&__text {
			// padding: 48px 59px;
			max-width: 100%;
		}
	}
}

@media screen and (max-width: 680px){
	.container {
		max-width: 640px;
	}
	#shadow.show {
		display: block;
			
		}
	#sidebar {
		display: block;
	}
	#sidebar .sidebar {
		display: block;
		width: fit-content;
	}

	.header {
		height: 84px;
		&-menu {
			display: block;
		}
		.btn-burger.menu,
		.btn-burger.closed {
			display: block;
		}
		.container {
			flex-wrap: wrap;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.header.fixed .container .wrap-logo{ 
		display: block;
	}
	.header.fixed .menu{
		top: 18px;
	}
		.header .header-menu__list {
		display: none;
	}

	#sidebar.open .sidebar-menu__list {
		display: block;
		text-align: center;
		li + li {
			padding-top: 24px;
		}
	}
}

@media screen and (max-width: 576px){
	.container {
		max-width: 540px;
	}
	.aboutus .container {
    gap: 36px;
	}
	.aboutus .info__text {
    padding: 21px 0;
}
}

@media screen and (max-width: 480px){
	.container {
		max-width: 450px;
	}
	.aboutus .wrap-images {
		gap: 20px;
		
		.image {
			max-width: 100%;
			width: 100%;
		}
	}
	.steps {
    padding: 60px 0;
	}
	.location.bottom, .location.top {
    padding: 60px 0;
	}
	.review {
    padding: 60px 0;
	}
}

