/* josefin-sans-300 - latin */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/Josefin/josefin-sans-v25-latin-300.woff2") format("woff2"), url("../fonts/Josefin/josefin-sans-v25-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* josefin-sans-regular - latin */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/Josefin/josefin-sans-v25-latin-regular.woff2") format("woff2"), url("../fonts/Josefin/josefin-sans-v25-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* aleo-regular - latin */
@font-face {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/Aleo/aleo-v11-latin-regular.woff2") format("woff2"), url("../fonts/Aleo/aleo-v11-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.josefin, .footer .title, .review-info__text p, .review-info__name, .info.grand .info__title, .info.grand .subtitle, .info__text, .first-screen input[type=text], .first-screen .arrow__text, .first-screen .title {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.aleo, .review .title, .info__title, .header .header-menu__list,
.header .sidebar-menu__list {
  font-family: "Aleo";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  align-items: center;
  color: #FFFFFF;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1rem;
}

a, button {
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
}

ul, ol {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
}

.container {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
}

#sidebar .sidebar {
  transform: translateY(-300px);
  transition: all 0.2s ease;
  top: 0;
  left: 0;
}

#sidebar {
  position: absolute;
  width: 100%;
  height: 0;
  z-index: 1002;
  top: 84px;
  left: 0;
  background: #5373FD;
  transition: all 0.2s ease;
  overflow: hidden;
  display: none;
}
#sidebar.open {
  height: 216px;
}
#sidebar.open .sidebar {
  transform: scale(1);
}

.header.fixed #sidebar {
  top: 60px;
  background: rgba(83, 115, 253, 0.4);
}

.btn-burger {
  background: transparent;
  border: none;
  position: absolute;
}
.btn-burger.closed {
  display: none;
  transform: scale(0);
  top: 27px;
  right: 23px;
}
.btn-burger.menu {
  display: none;
  top: 30px;
  right: 18px;
}

#header.open .btn-burger.closed {
  transform: scale(1);
  top: 27px;
  right: 23px;
}
#header.open .btn-burger.menu {
  transform: scale(0);
  top: 30px;
  right: 18px;
}
#header.open.fixed .closed {
  top: 15px;
}
#header.open.fixed .menu {
  top: 18px;
}

#shadow {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}

#shadow.show {
  display: none;
}

.first-screen {
  background: url(../images/firstBG.jpg) top center/cover no-repeat;
  text-align: center;
}
.first-screen .wrap-logo {
  width: 290px;
  margin: 0 auto;
  padding-top: 295px;
  padding-bottom: 22px;
}
.first-screen .icon {
  color: #ffffff;
}
.first-screen .title {
  font-size: 1.375rem;
  font-weight: 400;
  letter-spacing: 0.31em;
  padding-bottom: 47px;
  margin-left: 6px;
}
.first-screen .arrow {
  padding: 211px 0 117px;
}
.first-screen .arrow__text {
  display: block;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #cccccc;
  padding-bottom: 4px;
}
.first-screen .wrap-form {
  max-width: 647px;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
}
.first-screen .wrap-form .wrap-btn {
  position: absolute;
  top: 4px;
  right: 5px;
}
.first-screen input[type=text] {
  width: 100%;
  height: 60px;
  border: none;
  padding-left: 36px;
  padding-right: 150px;
  font-size: 1.125rem;
  font-weight: 400;
  color: #787878;
}
.first-screen input[type=text]::placeholder {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #999999;
}
.first-screen input[type=text]:focus {
  outline: 0 none;
  border: 1px solid transparent;
}

.wrap-btn {
  width: 213px;
  height: 60px;
  line-height: 60px;
  background: #5373FD;
  transition: all 0.2s ease;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.07em;
}
.wrap-btn .btn {
  width: 100%;
  height: 100%;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  background: transparent;
  border: none;
  padding: 0 5px;
  color: #ffffff;
}
.wrap-btn.btn-search {
  width: 139px;
  height: 52px;
  background: #5373FD;
  line-height: 52px;
  letter-spacing: 0;
}
.wrap-btn.btn-search .icon {
  padding-right: 9px;
  vertical-align: middle;
  font-size: 16px;
}
.wrap-btn.btn-search:hover {
  background: #4167fd;
}
.wrap-btn.btn-search:active {
  background: #2e4dc9;
}

.logo {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header {
  background: #5373FD;
  height: 84px;
  z-index: 1000;
  position: relative;
}
.header.fixed {
  position: fixed;
  height: 60px;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(83, 115, 253, 0.4);
  backdrop-filter: blur(2px);
  transition: all 0.2s ease;
}
.header .closed {
  transform: scale(0);
}
.header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .wrap-logo {
  width: 168px;
}
.header .wrap-logo.sm {
  width: 165px;
}
.header .header-menu__list {
  margin-top: 9px;
}
.header .header-menu__list,
.header .sidebar-menu__list {
  display: flex;
  gap: 39px;
  width: 100%;
  text-transform: uppercase;
}
.header .header-menu__list a,
.header .sidebar-menu__list a {
  display: block;
  color: #ffffff;
  width: 100%;
}
.header .header-menu__list a::after,
.header .sidebar-menu__list a::after {
  content: "";
  display: block;
  border-bottom: 1px solid #ffffff;
  position: relative;
  top: 0px;
  left: 0;
  width: 100%;
  transform: scale(0);
  transition: all 0.3s ease;
}
.header #sidebar .sidebar-menu__list {
  display: none;
  text-align: center;
}
.header li:hover a::after {
  transform: scale(1);
  width: 100%;
}
.header li:active a::after {
  transform: scale(0.87);
}

.wrap-info {
  max-width: 558px;
}

.aboutus {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 124px 0;
}
.aboutus .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.aboutus .wrap-images {
  width: 461px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.aboutus .wrap-images div + div {
  padding-top: 16px;
}
.aboutus .wrap-images .image {
  width: 350px;
}
.aboutus .wrap-images .end {
  align-self: end;
}

.aboutus .wrap-btn {
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease;
}
.aboutus .wrap-btn:hover .btn:before {
  left: -70px;
}
.aboutus .wrap-btn:active .btn:before {
  background: #2e4dc9;
}
.aboutus .wrap-btn span {
  position: relative;
}

.aboutus .btn:before {
  transition: all 0.5s ease;
  position: absolute;
  content: "";
  display: block;
  width: 300px;
  height: 300px;
  background: #486BFE;
  position: absolute;
  top: -80px;
  left: -237px;
  transform: rotate(47deg);
}

.info__title {
  font-size: 36px;
  line-height: 40px;
  letter-spacing: normal;
}
.info__text {
  padding: 24px 0 32px;
}
.info__text p + p {
  padding-top: 28px;
}

.wrap-dashed {
  position: relative;
  top: 145px;
  display: flex;
  justify-content: center;
  padding: 0px 14.55588vw;
  margin-top: -300px;
}
.wrap-dashed .dashed {
  display: block;
  width: 378px;
  height: 199px;
  border-radius: 50%;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 2px dashed #FFfffF;
  opacity: 0.3;
}
.wrap-dashed .dashed.left {
  padding-left: 5px;
}
.wrap-dashed .dashed.right {
  padding-right: 5px;
}

.steps {
  background-color: #333333;
  padding: 238px 0 44px;
  position: relative;
  top: 0;
  min-height: 306px;
}
.steps span {
  transition: all 0.2s ease;
}
.steps li:hover .icon {
  transform: scale(1.2);
}
.steps li:active .icon {
  transform: scale(1);
}
.steps__list {
  display: flex;
  gap: 24px;
}
.steps__list li {
  z-index: 3;
  display: flex;
  flex-direction: column;
  width: 424px;
  text-align: center;
}
.steps__list li span {
  display: block;
}
.steps__list li span + span {
  padding-top: 21px;
}
.steps__list .steps-title {
  font-family: "Aleo";
  color: #ffffff;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: normal;
}
.steps__list .icon {
  font-size: 64px;
  display: inline-block;
  background-color: #333333;
}
.steps__list .icon-search {
  color: #5373FD;
}
.steps__list .icon-check-circle {
  color: #FF6363;
}
.steps__list .icon-thumbs-up {
  color: #00A2FF;
}

.grand .wrap-btn a {
  display: block;
  height: 100%;
  width: 100%;
}
.grand .wrap-btn:hover {
  background: #4167fd;
}
.grand .wrap-btn:active {
  background: #2e4dc9;
}

.location.top {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 220px 0 120px;
}

.info.grand {
  max-width: 550px;
  padding: 44px 32px;
  background: rgba(35, 35, 35, 0.9);
}
.info.grand .subtitle {
  font-size: 20px;
  line-height: 28px;
}
.info.grand .info__title {
  padding-top: 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: normal;
}
.info.grand .info__text {
  padding: 17px 0 23px;
}

.location.bottom {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 220px 0 120px;
}
.location.bottom .container {
  display: flex;
  justify-content: end;
}

.review {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0 180px;
}
.review .title {
  font-size: 36px;
  line-height: 40px;
  letter-spacing: normal;
  text-align: center;
  padding-bottom: 60px;
}

.review-info {
  display: flex;
  color: #ffffff;
}
.review-info .user-image {
  max-width: 380px;
}
.review-info__name {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: normal;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.review-info__text {
  padding: 48px 59px;
  background: #333;
  max-width: 66.5%;
}
.review-info .icon-quote-left {
  color: #5373FD;
  position: relative;
  bottom: 6px;
  font-size: 20px;
  padding-right: 5px;
}

.footer {
  background-color: #000000;
  padding: 80px 0;
}
.footer__logo {
  margin: 0 auto;
  width: 165px;
}
.footer .title {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  text-align: center;
  color: #ffffff;
  padding-top: 18px;
}
.footer__media ul {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding-top: 18px;
}
.footer__media ul li {
  transition: all 0.2s ease;
}
.footer__media ul li:hover .icon {
  color: #5373FD;
}
.footer__media ul li:active {
  transform: scale(1.2);
}
.footer__media ul li:active .icon {
  transform: scale(20);
}
.footer .icon {
  transition: all 0.2s ease;
  font-size: 32px;
  color: #ffffff;
}