/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto/roboto-v30-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/roboto/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto/roboto-v30-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/inter/inter-v12-latin-regular.woff2") format("woff2"), url("../fonts/inter/inter-v12-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.2px;
  color: #545454;
  background-color: #E5E5E5;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.grid {
  display: grid;
  grid: min-content/repeat(2, 245px);
  gap: 12px;
}

.form-block {
  width: 570px;
  height: 590px;
  background-color: #fff;
  margin-top: 45px;
  margin-bottom: 65px;
}
.form-block fieldset {
  padding: 0 35px;
  border: none;
}
.form-block fieldset legend {
  padding: 35px 0 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  color: #1C1C1C;
}
.form-block .form__row {
  margin-bottom: 20px;
}
.form-block .form__row .radio {
  margin-right: 20px;
}
.form-block .form__row input [type=radio] {
  margin-right: 20px;
}
.form-block .form__row .caption-input {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1px;
  color: #969696;
}
.form-block .form__row .btn {
  width: 100%;
  height: 38px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.1px;
  color: #FFFFFF;
  background-color: #007BFF;
}

input[type=text],
input[type=email],
input[type=password],
input[type=namber],
input[type=tel],
input[type=file],
input [type=radio],
select {
  width: 100%;
  height: 38px;
  border: 1px solid #999;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.2px;
  border: 1px solid #969696;
  border-radius: 6px;
  font-size: 15px;
  margin-top: 7px;
  padding: 8px 10px;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=namber]:focus,
input[type=tel]:focus,
input[type=file]:focus,
input [type=radio]:focus,
select:focus {
  outline: 0 none;
  border: 1px solid #007BFF;
}

input[type=email] {
  margin-bottom: 4px;
}

.jq-radio.checked {
  background-color: #007BFF;
}

.jq-checkbox, .jq-radio {
  vertical-align: -4px;
  width: 20px;
  height: 20px;
  margin: 0 8px 0 0;
  background: #fff;
  box-shadow: none;
  cursor: auto;
}

.jq-radio.checked .jq-radio__div {
  width: 8px;
  height: 8px;
  margin: 5px 0 0 5px;
  border-radius: 50%;
  background: #fff;
  box-shadow: none;
}

.jq-radio.checked.focused,
.jq-radio.focused {
  background-color: #007BFF;
}

select {
  margin-top: 7px;
}

.jq-selectbox__select:hover {
  background: #fff;
}

.jq-selectbox.focused .jq-selectbox__select {
  border: 1px solid #007BFF;
}

.jq-selectbox__select {
  width: 245px;
  height: 38px;
  margin-top: 7px;
  padding: 8px 10px;
  border: 1px solid #969696;
  border-bottom-color: #969696;
  border-radius: 6px;
  background: #fff;
  box-shadow: none;
  text-shadow: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.2px;
  color: #545454;
}
.jq-selectbox__select-text {
  width: 100% !important;
}

.jq-selectbox li.selected {
  background-color: #969696;
  color: #FFF;
}

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
  border-left: none;
}

.jq-selectbox__dropdown {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  border: 1px solid #969696;
  border-radius: 6px;
  background: #FFF;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.2px;
}

.jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #969696;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 20px;
  right: 13px;
  width: 0;
  height: 0;
  border-top: 5px solid #999;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.form__row .arrow-top::after {
  content: "";
  display: inline-block;
  position: relative;
  bottom: -32px;
  left: 170.5px;
  width: 0;
  height: 0;
  z-index: 25;
  border-bottom: 5px solid #999;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.jq-selectbox li:hover {
  background-color: #007BFF;
  color: #FFF;
}

.btn {
  width: 100%;
  height: 38px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.1px;
  color: #FFFFFF;
  background: #007BFF;
  border: none;
  border-radius: 6px;
  margin-bottom: 22px;
}

.btn__subtitle {
  width: 360px;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.1px;
  color: #969696;
  margin: 0 auto;
}
.btn__subtitle a {
  padding: 0 3px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1px;
  color: #007BFF;
}

.border-b::after {
  content: "";
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #969696;
  position: relative;
  bottom: -3px;
  left: 0;
}

.login__wrap {
  margin-top: -2px;
  padding-right: 6px;
  text-align: center;
}
.login__wrap a {
  font-weight: 500;
  color: #007BFF;
  margin-left: 17px;
}

.profile .flex {
  justify-content: flex-start;
  gap: 0;
  margin-bottom: -10px;
}
.profile .grid {
  grid: 67px/repeat(2, 245px);
  gap: 10px;
}
.profile .city, .profile .country {
  margin-top: 10px;
  margin-bottom: 10px;
}
.profile .user-foto {
  width: 80px;
  height: 80px;
}
.profile .user-foto img {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50%;
}
.profile .btn__wrap {
  width: 150px;
}

.jq-file .jq-file__browse {
  display: none;
  border: none;
  background: #fff;
}

.jq-file__name {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  padding: 6px 32px 6px 10px;
  border: 1px solid #969696;
  border-bottom-color: #969696;
  border-radius: 6px;
  background: #FFF;
  box-shadow: none;
  font-family: "Inter";
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1px;
  color: transparent;
}

.jq-file {
  width: 138px;
  border-radius: 6px;
  box-shadow: none;
}

.jq-file.changed .jq-file__name {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.2px;
  color: #969696;
  padding: 4px 10px;
}

.file {
  margin-top: 11px;
  margin-left: 20px;
  margin-right: 7px;
  width: 141px;
}
.file label {
  letter-spacing: -0.1px;
  font-size: 13px;
  line-height: 18px;
  color: #969696;
}

.icon-foto {
  position: relative;
  left: 115px;
  top: -53px;
}

.reset-wrap {
  position: relative;
  margin-top: 11px;
}
.reset-wrap::after {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  border: 1px solid #969696;
  border-radius: 6px;
}
.reset-wrap .reset {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}

.icon-reset {
  position: relative;
  bottom: 30px;
  left: 10px;
}

.jq-number {
  position: relative;
  width: 245px;
  height: 38px;
  vertical-align: middle;
  padding: 0px 0px 0 0;
  margin-top: 7px;
}
.jq-number__field {
  width: 100%;
  height: 100%;
  border: 1px solid #969696;
  border-bottom-color: #969696;
  border-radius: 6px;
  box-shadow: none;
}
.jq-number__field input {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 10px;
  border: none;
  outline: none;
  background: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.2px;
}
.jq-number__spin.minus, .jq-number__spin.plus {
  display: none;
}