@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?sowj0i');
  src:  url('fonts/icomoon.eot?sowj0i#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?sowj0i') format('truetype'),
    url('fonts/icomoon.woff?sowj0i') format('woff'),
    url('fonts/icomoon.svg?sowj0i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Search:before {
  content: "\e900";
  color: #4f4f4f;
}
.icon-Chats:before {
  content: "\e901";
  color: #9e8cfc;
}
.icon-Components:before {
  content: "\e902";
  color: #4f4f4f;
}
.icon-dashboard:before {
  content: "\e903";
  color: #4f4f4f;
}
.icon-Ecommerce:before {
  content: "\e904";
  color: #4f4f4f;
}
.icon-Editor:before {
  content: "\e905";
  color: #4f4f4f;
}
.icon-Email:before {
  content: "\e906";
  color: #4f4f4f;
}
.icon-Feather:before {
  content: "\e907";
  color: #4f4f4f;
}
.icon-File-manager:before {
  content: "\e908";
  color: #4f4f4f;
}
.icon-Calendar:before {
  content: "\e909";
  color: #4f4f4f;
}
.icon-Star:before {
  content: "\e90a";
  color: #4f4f4f;
}
.icon-Knowledge:before {
  content: "\e90b";
  color: #4f4f4f;
}
.icon-lamp:before {
  content: "\e90c";
  color: #4f4f4f;
}
.icon-lang .path1:before {
  content: "\e90d";
  color: rgb(236, 28, 36);
}
.icon-lang .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(230, 231, 232);
}
.icon-lang .path3:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(236, 28, 36);
}
.icon-lang .path4:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(230, 231, 232);
}
.icon-lang .path5:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(236, 28, 36);
}
.icon-lang .path6:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(230, 231, 232);
}
.icon-lang .path7:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(236, 28, 36);
}
.icon-lang .path8:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(230, 231, 232);
}
.icon-lang .path9:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(236, 28, 36);
}
.icon-lang .path10:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(230, 231, 232);
}
.icon-lang .path11:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(236, 28, 36);
}
.icon-lang .path12:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(230, 231, 232);
}
.icon-lang .path13:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(236, 28, 36);
}
.icon-lang .path14:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(23, 100, 150);
}
.icon-lang .path15:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-LeafletMaps:before {
  content: "\e91c";
  color: #4f4f4f;
}
.icon-lightBoard .path1:before {
  content: "\e91d";
  color: rgb(158, 140, 252);
}
.icon-lightBoard .path2:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-lightBoard .path3:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-line:before {
  content: "\e927";
}
.icon-LogOut:before {
  content: "\e921";
  color: #4f4f4f;
}
.icon-news:before {
  content: "\e922";
  color: #4f4f4f;
}
.icon-Pages:before {
  content: "\e923";
  color: #4f4f4f;
}
.icon-Permissions:before {
  content: "\e924";
  color: #4f4f4f;
}
.icon-Profile:before {
  content: "\e925";
  color: #4f4f4f;
}
.icon-profile-img:before {
  content: "\e920";
}
.icon-Settings:before {
  content: "\e926";
  color: #4f4f4f;
}
