/* nunito-sans-regular - latin */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/Nunito/nunito-sans-v12-latin-regular.woff2") format("woff2"), url("../fonts/Nunito/nunito-sans-v12-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-sans-600 - latin */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/Nunito/nunito-sans-v12-latin-600.woff2") format("woff2"), url("../fonts/Nunito/nunito-sans-v12-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/Roboto/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/Roboto/roboto-v30-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/Roboto/roboto-v30-latin-700.woff2") format("woff2"), url("../fonts/Roboto/roboto-v30-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@media screen and (max-width: 1199px) {
  .container {
    max-width: 1000px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 800px;
  }
  .container .subtitle {
    padding-top: 30px;
  }
  .container .items {
    flex-wrap: wrap;
  }
  .container .items li {
    width: auto;
    padding: 20px;
    font-size: 20px;
  }
  .container .items li .item-list__text {
    width: auto;
  }
  .container .item-list__text {
    font-size: 20px;
  }
  .container .item-list__link {
    font-size: 20px;
  }

  .footer-list.flex {
    gap: 20px;
  }
  .footer-list.flex li {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 500px;
  }
  .container .subtitle {
    padding-top: 30px;
    font-size: 20px;
  }
  .container .items li {
    margin: 0 auto;
  }
  .container .items {
    padding-bottom: 25px;
  }
  .container .title {
    text-align: center;
  }
  .container .footer-list.flex {
    justify-content: space-evenly;
    gap: 20px;
  }
}
@media screen and (max-width: 499px) {
  .container {
    width: 350px;
  }
  .container .subtitle {
    padding-top: 10px;
    margin-left: 30%;
    font-size: 20px;
  }
  .container .title {
    font-size: 50px;
    text-align: end;
    padding-left: 10px;
  }
  .container .item-list__link {
    font-size: 20px;
  }
  .container .footer-list.flex {
    justify-content: space-evenly;
    gap: 20px;
  }

  .items {
    padding-top: 15px;
  }
}
@media screen and (max-width: 375px) {
  .container {
    width: 320px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}

a, button {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

ul, ol {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

#header {
  height: 80px;
  line-height: 80;
  border-bottom: 1px solid #EFEEF3;
}

main .subtitle {
  display: inline-block;
  padding-top: 100px;
  padding-bottom: 15px;
  padding-left: 3px;
  font-size: 16px;
  line-height: 21px;
  color: #7690A8;
}
main .title {
  font-family: "Nunito Sans";
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.2px;
  color: #16133D;
}
main .flex {
  display: flex;
  gap: 30px;
}

.wrap-logo {
  width: 200px;
  padding: 22.5px 0;
}

.items {
  padding-top: 32px;
  padding-bottom: 100px;
}
.items li {
  width: 370px;
  padding: 40px;
  border: 1px solid #E5EAF4;
  border-radius: 8px;
  transition: all 0.2s ease;
}
.items li:hover {
  border: 1px solid #3DB370;
}

.item-list__svg {
  width: 39px;
  height: 36px;
}
.item-list__title {
  padding-top: 31px;
  padding-bottom: 14px;
  margin-left: -1px;
  font-weight: 400;
  font-size: 24px;
  line-height: 21px;
  letter-spacing: 0.2px;
  color: #16133D;
}
.item-list__text {
  width: 275px;
  padding-bottom: 25px;
  line-height: 28px;
  color: #16133D;
}
.item-list__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #3DB370;
}
.item-list__link:hover {
  color: #f73344;
}

.wrap-svg {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(21, 101, 216, 0.1);
  border-radius: 16px;
  position: relative;
  cursor: pointer;
}
.wrap-svg svg {
  position: absolute;
  height: 36px;
}
.wrap-svg svg :first-child {
  opacity: 0;
}
.wrap-svg svg :last-child {
  opacity: 1;
}
.wrap-svg:hover svg :first-child {
  opacity: 1;
}
.wrap-svg:hover svg :last-child {
  opacity: 0;
}

footer {
  background-color: #16133D;
}
footer .wrap-logo {
  padding: 40px 0;
}

.footer-list {
  padding-bottom: 40px;
}
.footer-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background: #EFEEF3;
  border-radius: 5px;
}
.footer-list.flex {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.footer-list .icon {
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 20px;
  color: #0D0D0D;
}

.footer-list li:hover .icon-instagram {
  color: #f73344;
}
.footer-list li:hover .icon-facebook {
  color: #3b5998;
}
.footer-list li:hover .icon-github {
  color: #171515;
  border-radius: 50%;
  background-color: #8c8c8c;
}
.footer-list li:hover .icon-dribbble {
  color: #ea4c89;
}
.footer-list li:hover .icon-twitter {
  color: #3DB370;
}