/* red-hat-display-regular - latin */
@font-face {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/RadHatDisplay/red-hat-display-v14-latin-regular.woff2") format("woff2"), url("../fonts/RadHatDisplay/red-hat-display-v14-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* red-hat-display-500 - latin */
@font-face {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/RadHatDisplay/red-hat-display-v14-latin-500.woff2") format("woff2"), url("../fonts/RadHatDisplay/red-hat-display-v14-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* red-hat-display-600 - latin */
@font-face {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/RadHatDisplay/red-hat-display-v14-latin-600.woff2") format("woff2"), url("../fonts/RadHatDisplay/red-hat-display-v14-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/lato/lato-v23-latin-regular.woff2") format("woff2"), url("../fonts/lato/lato-v23-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/lato/lato-v23-latin-700.woff2") format("woff2"), url("../fonts/lato/lato-v23-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.redhat, .contacts-title {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4375rem;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}

.lato, .copyright, .contacts .contacts-phone,
.contacts .contacts-email {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1rem;
}

a, button {
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
}

ul, ol {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

#header {
  display: flex;
  align-items: center;
  height: 100px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(6px);
}
#header .header_title {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5em;
  color: #000000;
}
#header .wrap-hamb {
  display: none;
}

main {
  padding-top: 100px;
}
main .section {
  margin-bottom: 90px;
}

.section__title, .article-title {
  font-family: "Red Hat Display";
  font-weight: 600;
  font-size: 28px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
  margin-bottom: 42px;
}

.article-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  margin-bottom: 55px;
}

.wrap-info {
  margin: 90px 0;
}

.wrap-info__text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #565656;
  margin-top: 20px;
}
.wrap-info__text P + P {
  padding-top: 30px;
}

.wrap-info .wrap-info__text {
  max-width: 570px;
}

.bg-grey {
  background: #F4F4F4;
}

.footer-wrap {
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-wrap span {
  font-size: 24px;
}

.contacts .contacts-phone,
.contacts .contacts-email {
  display: block;
  padding-top: 15px;
}
.contacts .contacts-phone a,
.contacts .contacts-email a {
  color: #000;
}
.contacts-title {
  font-weight: 400;
  font-size: 3rem;
  line-height: 64px;
  letter-spacing: 0.05em;
  padding-bottom: 11px;
}

.footer-media {
  display: flex;
  gap: 23px;
}
.footer-media span {
  font-size: 24px;
}
.footer-media .icon-in {
  font-size: 26px;
}
.footer-media .icon-twitter {
  font-size: 30px;
}
.footer-media li {
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #565656;
  transition: all 0.2s ease;
}
.footer-media a {
  color: #565656;
}
.footer-media li:hover {
  background: #565656;
}
.footer-media li:hover a {
  color: #fff;
}
.footer-media li:active {
  background: #fff;
}
.footer-media li:active a {
  color: #565656;
}

.copyright {
  font-size: 0.75rem;
  margin-left: -7px;
  padding-top: 22px;
  padding-bottom: 30px;
  text-align: center;
}