/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/Montserrat/montserrat-v25-latin-regular.woff2") format("woff2"), url("../fonts/Montserrat/montserrat-v25-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/Montserrat/montserrat-v25-latin-500.woff2") format("woff2"), url("../fonts/Montserrat/montserrat-v25-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/Montserrat/montserrat-v25-latin-700.woff2") format("woff2"), url("../fonts/Montserrat/montserrat-v25-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.montserrat, #sidebar .badge-email::after, #sidebar .badge-calendar::after, #sidebar .badge-chats::after, #sidebar .title, body {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #4F4F4F;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1rem;
}

a, button {
  cursor: pointer;
  color: #828282;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

#header {
  height: 80px;
  margin-top: 30px;
}
#header .container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
#header .icon {
  font-size: 18px;
}
#header .panel {
  display: flex;
  align-items: center;
  gap: 50px;
}
#header .panel-list {
  display: flex;
  gap: 20px;
  height: 100%;
}
#header .panel-list li a {
  height: 100%;
  display: flex;
  align-items: center;
}
#header .wrap-lang {
  font-size: 18px;
  line-height: 28px;
  height: 100%;
}
#header .wrap-lang a {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
  color: #4F4F4F;
}
#header .wrap-lang img {
  width: 26px;
  height: 26px;
}
#header .wrap-user {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
}
#header .wrap-user img {
  width: 100%;
  height: 100%;
}
#header .button-wrap {
  position: absolute;
  top: 0;
  right: 0px;
}
#header li:hover .icon::before {
  color: #9E8CFC;
}
#header a:hover {
  color: #9E8CFC;
}
#header a:hover {
  color: #9E8CFC;
}
#header a:active,
#header li:active .icon::before {
  color: #392C72;
  text-shadow: 0px 0px 20px rgba(57, 44, 114, 0.5);
}
#header .mini-settings {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
#header .mini-settings:active {
  background: rgba(0, 0, 0, 0.2);
}
#header .arrow-settings {
  display: none;
}

.dashed2 {
  display: none;
  position: relative;
  height: 4px;
  width: 13px;
  background: #9e8cfc;
  border-radius: 4px;
  top: -18px;
  right: -35px;
  line-height: 46;
}
.dashed2::before, .dashed2::after, .dashed2 span {
  content: "";
  display: block;
  height: 4px;
  width: 9px;
  background: #9e8cfc;
  border-radius: 4px;
  position: absolute;
}
.dashed2::before {
  top: 0;
  left: 18px;
}
.dashed2::after {
  top: 0;
  right: 17px;
}

#sidebar {
  position: fixed;
  width: 220px;
  height: 100vh;
  z-index: 10002;
  top: 0;
  left: 0;
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease;
}
#sidebar .lightboard {
  padding-left: 15px;
}
#sidebar .wrap-sidebar {
  height: calc(100vh - 102px);
  overflow-y: auto;
  margin: 30px 0;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
#sidebar .wrap-sidebar li, #sidebar .wrap-sidebar .dashboard {
  padding: 0 15px;
}
#sidebar .wrap-sidebar a span + span {
  padding-left: 16px;
}
#sidebar .wrap-sidebar::-webkit-scrollbar {
  width: 4px;
}
#sidebar .wrap-sidebar::-webkit-scrollbar-track {
  background: #fff;
}
#sidebar .wrap-sidebar::-webkit-scrollbar-thumb {
  background: #ccc;
}
#sidebar .wrap-sidebar::-webkit-scrollbar-thumb:hover {
  background: #888;
}
#sidebar .wrap-sidebar .wrap-section {
  margin-top: 30px;
}
#sidebar .title {
  text-transform: uppercase;
  color: #828282;
  margin-left: 15px;
  margin-bottom: 5px;
}
#sidebar .subtitle.light {
  color: #392C72;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  vertical-align: middle;
}
#sidebar .btn {
  position: relative;
  top: 36px;
  right: -185px;
  z-index: 1001;
  width: 20px;
  height: 20px;
  background: transparent;
  border: none;
  transition: all 0.2s ease;
}
#sidebar .btn::before {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  display: block;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #392C72;
  border-radius: 50%;
}
#sidebar .btn::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 4px;
  display: block;
  width: 5px;
  height: 5px;
  border-right: 1px solid #392C72;
  border-bottom: 1px solid #392C72;
  transform: rotate(135deg);
}
#sidebar .btn:active::before {
  background: #9E8CFC;
}
#sidebar .dashboard:hover, #sidebar .lightboard:hover {
  background: #9E8CFC;
  box-shadow: 0px 0px 20px rgba(158, 140, 252, 0.7);
}
#sidebar .dashboard:hover a, #sidebar .lightboard:hover a {
  color: #fff;
}
#sidebar .dashboard:hover .icon::before, #sidebar .lightboard:hover .icon::before {
  color: #fff;
}
#sidebar .dashboard:active, #sidebar .lightboard:active {
  background: #6647ff;
  box-shadow: 0px 0px 20px rgba(102, 71, 255, 0.7);
}

#sidebar .icon {
  display: inline-block;
  line-height: 46px;
  font-size: 26px;
  vertical-align: middle;
}
#sidebar .icon img {
  width: 32px;
  vertical-align: middle;
}

#sidebar li:hover .icon::before {
  color: #fff;
}

#sidebar .panel-list li a {
  display: inline-block;
  color: #828282;
  width: 100%;
}
#sidebar .panel-list li:hover {
  background: #9E8CFC;
  box-shadow: 0px 0px 20px rgba(158, 140, 252, 0.7);
}
#sidebar .panel-list li:hover a {
  color: #fff;
}
#sidebar .panel-list li:active {
  background: #6647ff;
  box-shadow: 0px 0px 20px rgba(102, 71, 255, 0.7);
}

#sidebar .badge-email, #sidebar .badge-calendar, #sidebar .badge-chats {
  position: relative;
  top: 0;
  right: 0;
}
#sidebar .badge-email::after, #sidebar .badge-calendar::after, #sidebar .badge-chats::after {
  content: "10";
  display: block;
  position: absolute;
  top: 5px;
  left: 38px;
  color: #4F4F4F;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}
#sidebar .badge-email::before, #sidebar .badge-calendar::before, #sidebar .badge-chats::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 34px;
  background: #6FCF97;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

#sidebar .badge-chats::after {
  color: #fff;
}
#sidebar .badge-chats::before {
  background: #EA5455;
}

#sidebar .badge-calendar::after {
  content: "5";
  top: 5px;
  left: 40px;
}
#sidebar .badge-calendar::before {
  background: #F2C94C;
}

#sidebar.open {
  width: 86px;
}
#sidebar.open li, #sidebar.open .dashboard {
  padding: 0;
}
#sidebar.open a span + span {
  padding-left: 0;
}
#sidebar.open .title, #sidebar.open .subtitle, #sidebar.open .dashboard {
  font-size: 0;
}
#sidebar.open .dashboard, #sidebar.open .lightboard {
  text-align: center;
}
#sidebar.open .lightboard {
  padding-left: 0;
}
#sidebar.open .dashed2 {
  display: block;
  top: -18px;
  right: -35px;
}
#sidebar.open .btn {
  right: -73px;
}
#sidebar.open .btn::after {
  right: 6px;
  transform: rotate(-45deg);
}
#sidebar.open .wrap-sidebar li {
  padding: 0 15px;
  text-align: center;
}
#sidebar.open .badge-calendar::after {
  content: "10";
  top: 5px;
  left: 38px;
}
#sidebar.open .badge-calendar::before {
  background: #F2C94C;
}

.wrap-bg {
  margin-top: 5.57vw;
  padding-bottom: 179px;
}
.wrap-bg img {
  width: 100%;
  height: 100%;
}