@media screen and (max-width: 1400px) {
  .container {
    max-width: 1300px;
  }

  .slick-next {
    right: -50px;
  }

  .slick-prev {
    left: -50px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 1024px;
  }

  .header-menu__list {
    gap: 60px;
    transition: all 0.2s ease;
  }

  .first-screen .item__title {
    font-size: 64px;
  }

  .about {
    padding-top: 80px;
  }

  .about-content .about-info .text {
    padding-bottom: 20px;
  }

  .about-content .about-info .btn {
    margin-bottom: 20px;
  }

  .about-content.bg-purple, .about-content.bg-skay {
    margin-top: 120px;
  }

  .about .about-content.bg-skay img {
    box-shadow: -70px -57px #55b7ff;
  }

  .about-content.bg-purple img {
    box-shadow: 70px -57px #7e5aff;
  }

  .news {
    margin-top: 90px;
    padding-top: 120px;
  }

  .slick-next {
    right: -40px;
  }

  .slick-prev {
    left: -40px;
  }

  .gallery .container {
    padding: 90px 0;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 920px;
  }

  .header-menu__list {
    gap: 40px;
    margin-left: 20px;
  }
  .header-menu__list li::before {
    left: -18px;
  }

  .first-screen .item__title {
    font-size: 44px;
  }

  .about .about-content.bg-skay img {
    box-shadow: 10px -10px #55b7ff;
    height: auto;
  }
  .about .about-content.bg-purple img {
    box-shadow: 10px -10px #7e5aff;
    height: auto;
  }
  .about .flex {
    flex-direction: row-reverse;
  }
  .about .title {
    font-size: 32px;
    line-height: 42px;
  }
  .about .subtitle {
    font-size: 18px;
  }
}
@media screen and (max-width: 920px) {
  .container {
    max-width: 850px;
  }

  .header-logo {
    transition: all 0.3s ease;
    width: 150px;
  }

  .first-screen.slick-vertical .slick-dots {
    left: 93vw;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 700px;
  }

  .header {
    padding-top: 10px;
  }
  .header-menu {
    display: none;
  }

  .hamburger {
    display: block;
  }

  #hamb-menu {
    display: block;
  }

  .social {
    padding-right: 70px;
    padding-left: 10px;
  }

  .first-screen .item__title {
    line-height: 46px;
  }
  .first-screen .item__subtitle {
    padding-top: 15px;
  }
  .first-screen .item {
    padding: 345px 0;
  }

  .about .flex {
    flex-direction: column;
  }
  .about .image {
    max-width: 90%;
    margin: 0 auto;
  }
  .about .about-content {
    margin-top: 50px;
  }
  .about .about-content .about-info {
    text-align: center;
    align-self: center;
    padding-top: 20px;
  }
  .about .about-content .about-info .btn {
    margin: 0 auto 20px;
  }
  .about .about-content.revers .container {
    flex-direction: column;
  }

  .news {
    margin-top: 10px;
    padding-top: 90px;
  }

  .slick-next {
    right: 20px;
    opacity: 0;
  }

  .slick-prev {
    left: 20px;
    opacity: 0;
  }

  .contact {
    display: flex;
    flex-direction: column-reverse;
  }
  .contact .form {
    position: relative;
    top: 0;
  }
  .contact .form .container {
    padding: 60px 25px 60px;
    width: 100%;
  }

  .gallery .container {
    padding: 90px 0 40px;
  }
  .gallery-items {
    padding-top: 60px;
    grid-template-columns: repeat(2, 1fr);
  }

  .wrap-map {
    height: 350px;
  }

  .mapmodal-btn {
    font-size: 32px;
  }

  .footer-content {
    display: flex;
    padding: 25px 35px 41px;
  }
  .footer .copyrights {
    padding: 0 0 35px 35px;
  }
  .footer .container {
    width: 100%;
  }
  .footer .social {
    padding-right: 0px;
  }
}
@media screen and (max-width: 670px) {
  .container {
    max-width: 590px;
  }

  .first-screen .slick-dots {
    opacity: 0;
  }

  .slick-dots li {
    margin: 0 10px;
  }

  .form-wrap {
    flex-direction: column;
    gap: 50px;
  }
  .form-wrap #feedback-form .btn-submit {
    align-self: center;
    margin-top: 20px;
  }
  .form-wrap #feedback-form input {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 500px;
  }

  .slick-dots li {
    margin: 0 7px;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    padding: 25px 35px 28px;
  }
  .footer-content .logo {
    margin: 0 auto;
  }

  .footer-social.social {
    padding: 20px 0;
    margin: 0 auto;
  }

  .footer .copyrights {
    padding: 0 0 40px 0;
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .container {
    max-width: 350px;
  }

  .section-title {
    font-size: 32px;
  }

  .slick-next {
    right: 20px;
    opacity: 0;
  }

  .slick-prev {
    left: 20px;
    opacity: 0;
  }
}
@media screen and (max-width: 375px) {
  .container {
    max-width: 320px;
  }

  .social {
    padding: 0 60px 0 20px;
  }

  .first-screen .item__title {
    font-size: 42px;
    line-height: 44px;
  }
  .first-screen .item__subtitle {
    padding-top: 15px;
  }
  .first-screen .item {
    padding: 310px 0;
  }

  .contact .form .container {
    padding: 60px 5px;
  }
}