* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


html,
body {
	width: 100%;
	height: 100%;

}

body {
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	color: black;
	font-size: 18px;
	line-height: 25px;
}

.container {
	width: 90%;
	max-width: 970px;
	margin: 0 auto;
}

header {

	height: 80px;
	line-height: 80px;
}

#header .container {

	border-bottom: 1px solid #828282;
}

.maine-menu ul {

	text-align: center;
	list-style: none;
}

.maine-menu ul li {
	display: inline-block;
	margin: 0px 19px;
}


.maine-menu ul li a {
	text-decoration: none;
	color: #828282;
}

.maine-menu ul li a:hover {
	color: #070707;
}

.maine {}

.ferst-screen {
	margin-top: 15px;
}

h1 {
	font-weight: 700;
	font-size: 48px;
	line-height: 65px;
	color: #070707;

}

.ferst-screen__image {
	margin-top: 45px;
}



.bg {
	background-color: #F6F6F6;
}


h2 {
	padding-top: 92px;
	font-weight: 700;
	font-size: 34px;
	line-height: 46px;
	text-align: center;
	color: #070707;
}

.about-me {
	background-color: #F6F6F6;
}

.about-me__item {
	padding-top: 50px;
	width: 480px;

}

.about-me__item p {
	margin-bottom: 30px;
}

.text {
	margin: 0 auto;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	color: #070707;
}

.product-list {
	display: flex;
	justify-content: space-between;
}

.send-message {
	color: #FFFFFF;
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	letter-spacing: 0.1em;
	align-items: center;
	/* padding: 0px 16px; */
	width: 180px;
	height: 44px;
	background: #070707;
	border-radius: 22px;
}
.social-group{
	
}

.social-group ul li {
	display: inline-block;
	margin: 0px 25px;
}