* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


html,
body {
	width: 100%;
	height: 100%;

}

body {
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	color: black;
	font-size: 18px;
	line-height: 25px;
}

.container {
	width: 90%;
	max-width: 970px;
	margin: 0 auto;
}

header {
	height: 80px;
	line-height: 80px;
}

#header .container {
	border-bottom: 1px solid #828282;
}

.maine-menu ul {
	text-align: center;
	list-style: none;
}

.maine-menu ul li {
	display: inline-block;
	margin: 0px 19px;
}


.maine-menu ul li a {
	text-decoration: none;
	color: #828282;
}

.maine-menu ul li a:hover {
	color: #070707;
}

/* ------------------------------ */

.novik {
	margin-top: 12px;
}

.novik h1 {
	font-weight: 700;
	font-size: 48px;
	line-height: 65px;
	color: #070707;
	margin-bottom: 44px;
}

img {
	vertical-align: top;
}
/* ----------------------------------- */
.bg-gray {
	background: #F6F6F6;
}

h2 {
	padding-top: 100px;
	font-weight: 700;
	font-size: 34px;
	line-height: 46px;
	text-align: center;
	color: #070707;
}



.star-light {
	opacity: 20%;
}