* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #2F281E;
}

button {
  cursor: pointer;
}

img {
  vertical-align: top;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 26px;
  color: #544837;
}

* {
  transition: all 0.1s ease-in;
}

/* -----------Header------------------ */
#hamb-btn {
  display: none;
  position: fixed;
  top: 12px;
  right: 84px;
  z-index: 1001;
}

#mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  height: 100vh;
  width: 375px;
  background: #fff;
  border-right: 2px solid #e0e0e0;
  transform: translateX(-375px);
  transition: all 0.4s ease;
}
#mobile-menu .menu__list {
  display: block;
  margin-top: 60px;
}
#mobile-menu .menu__list li {
  border-bottom: 1px solid #e0e0e0;
  height: 100%;
  padding: 26px;
}
#mobile-menu .menu__list li a {
  display: block;
  font-size: 34px;
  height: 100%;
}

#mobile-menu.open {
  transform: translateX(0);
}

#shadow {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}

#shadow.show {
  display: block;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  line-height: 80px;
  height: 80px;
}
.header .container {
  height: 100%;
}
.header__logo img {
  vertical-align: middle;
}

.main {
  flex-grow: 1;
  padding-top: 99px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.menu__link {
  height: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #2F281E;
}

.header__menu .menu__item:last-child {
  padding-right: 0px;
}

.menu__link:hover {
  color: #FF9900;
}

.btn-white {
  width: 110px;
  height: 46px;
  background-color: #fff;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #2F281E;
}

.btn-white:hover {
  background-color: #ededed;
}

.btn-white:active {
  background-color: #c7c7c7;
}

.btn-orang {
  width: 110px;
  height: 46px;
  background: #FF9900;
  border-radius: 4px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  border: none;
}

.btn-orang:hover {
  color: midnightblue;
}

.btn-orang:active {
  background-color: #ea8c00;
}

.button {
  display: flex;
  justify-content: space-between;
}

.header__button {
  width: 252px;
}

/* -----------Main------------ */
.item-section__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2F281E;
}

.item-section__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #544837;
}

.first-section .btn-orang {
  width: 180px;
  height: 50px;
}

.first-section .item-section__content {
  align-self: center;
  max-width: 500px;
}

.first-section .item-section__text {
  margin-bottom: 26px;
  margin-top: 33px;
}

/* ------------Skills------------ */
.item-skills__title {
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #2F281E;
}

.list-item__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #2F281E;
}

.skills .list-item {
  max-width: 270px;
}

.skills .item-skills__title {
  padding: 97px 0 50px;
}

.skills .list-item__icon {
  margin-bottom: 30px;
}

.skills .list-item__title {
  margin-bottom: 17px;
}

.skills__button {
  text-align: center;
  margin: 69px 500px 74px 515px;
}

.skills__button .btn-orang {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  width: 180px;
  height: 50px;
  margin-bottom: 74px;
}

.skills {
  background: url(../images/bg-skills.png) center bottom no-repeat;
  background-size: cover;
}

/* --------------Footer---------------- */
.footer {
  max-height: 209px;
}

.footer .flex {
  justify-content: flex-start;
  align-items: flex-start;
}

.footer__logo {
  margin-right: 130px;
}

.footer-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #2F281E;
}

.footer__form .footer-title {
  width: 280px;
  margin-bottom: 23px;
}

.footer__form input {
  max-width: 340px;
  height: 50px;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
}

::placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #BCD0E5;
  padding-left: 10px;
}

.footer .btn-orang {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  width: 180px;
  height: 50px;
}

.footer__button {
  padding-top: 25px;
}

.footer-title {
  font-family: "Gotham", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}

.footer__menu li {
  margin-bottom: 13px;
}

.footer__menu li:last-child {
  margin-bottom: 0px;
}

footer .container {
  padding-bottom: 70px;
}

.fb-nav {
  margin-right: 130px;
  width: 135px;
}

input {
  font-size: 20px;
}

input:focus {
  outline: thin dotted;
}

.wrap-footer__nav {
  display: flex;
}