* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul,
ol {
	list-style: none;

}

a {

	color: #000;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 48px;
	color: #000000;
}

.tourney {
	font-family: 'Tourney';
	font-weight: 600;
	font-size: 22px;
	line-height: 18px;
	/* text-align: center; */
	letter-spacing: 0.04em;
	color: #000;
}

.staatliches {
	font-family: 'Staatliches';
	font-weight: 400;
	font-size: 22px;
	line-height: 28px;
	letter-spacing: 0.03em;
}

.francoisone {
	font-family: 'Francois One';
	font-weight: 400;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
}

.farro {
	font-family: 'Farro';
	font-style: normal;
	font-weight: 300;

	line-height: 30px;
	letter-spacing: 0.0350em;
	text-transform: none;

}


.ptsans-italic {
	font-family: 'PT Sans';
	font-style: italic;
}

.ptsans-bold {
	font-family: 'PT Sans';
	font-weight: 700;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}


.header-nav a {

	text-decoration: none;
}

.header-nav {
	padding-right: 609px;
}

.header-nav li:nth-child(2) {
	position: relative;
	left: 10px;
}

.slash {
	position: relative;
	left: 5px;
}

header {
	height: 80px;
}

.language {
	padding-top: 17px;
	padding-right: 52px;
	padding-left: 3px;
}

.flex {
	display: flex;
}

header .flex {
	padding: 16px 0 15px;
}


header li {
	font-family: 'Staatliches';
	text-transform: uppercase;
	display: inline-block;
	font-weight: 400;
	font-size: 22px;
	line-height: 28px;
	letter-spacing: 0.03em;

}

.header-wrap__logo img {
	vertical-align: middle;
}

.section-title sup {
	position: relative;
	display: inline-block;
	top: -5px;
	left: 9px;
	vertical-align: text-top;
	font-size: 18px;

}

.chapter2 sup {
	position: relative;
	display: inline-block;
	top: -7px;
	left: 0;
}

.chapter3 sup {
	position: relative;
	display: inline-block;
	left: -1px;
	bottom: 1px;
}

.section:first-child {
	margin-top: 73px;
}

.section {
	margin-top: 60px;
}

.section:last-child {
padding-bottom: 90px;
}
.section-title {
	margin-bottom: 38px;
}


p {
	padding-bottom: 30px;
}

p:last-child {
	padding-bottom: 0;
}

.textbg-grey {
	padding: 0 1px;
	display: inline-block;
	background: #c8c8c8;
}

.chapter3 p:nth-child(5) {
	margin-bottom: 10px;

}

.chapter3 p:nth-child(6) {
	margin-bottom: 7px;

}

.chapter4 sup {
	position: relative;
	display: inline-block;
	left: -2px;
	top: -7px;
}

.scale {
	display: inline-block;
	transform: scale(-1, 1);
	font-size: 24px;
	position: relative;
	top: -5px;
}