@media screen and (max-width: 1024px) {
  .container {
    max-width: 900px;
  }

  .first-title {
    padding-top: 6.94vw;
    font-size: 36px;
    line-height: 50px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 700px;
  }

  section {
    margin-bottom: 70px;
  }

  #header {
    height: 60px;
  }
  #header .nav {
    display: none;
  }
  #header .wrap-search {
    padding-right: 30px;
  }
  #header .wrap-hamb {
    display: none;
  }

  main {
    padding-top: 60px;
  }

  .first-title {
    max-width: 570px;
  }

  .blog .wrap-columns__info {
    max-width: 340px;
  }
  .blog .wrap-columns__image {
    width: 100%;
    height: 280px;
    aspect-ratio: 1.1;
  }
  .blog .info__text {
    padding-top: 39px;
  }
  .blog .info__title {
    margin-top: -8px;
  }
  .blog .blog .info__title {
    padding-bottom: 22px;
  }
  .blog .info__text {
    padding-top: 39px;
  }
  .blog .wrap-columns li {
    gap: 20px;
    padding-bottom: 50px;
  }

  .posts .wrap-columns {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .posts .wrap-columns li {
    display: flex;
    flex-basis: 240px;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 0px;
  }
  .posts .wrap-columns li:nth-child(2n) {
    flex-direction: row-reverse;
  }
  .posts .wrap-columns__image {
    height: 240px;
    aspect-ratio: 1.4;
  }
  .posts .wrap-columns__image img {
    width: 100%;
  }

  .popular .header-section {
    padding-bottom: 47px;
  }
  .popular .wrap-columns {
    display: flex;
    gap: 20px;
  }
  .popular .wrap-columns li {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 0;
  }

  .footer-wrap {
    flex-direction: column;
    text-align: center;
  }
  .footer-media {
    margin-top: 52px;
  }

  #platform .container .article-title {
    font-size: 33px;
    line-height: 50px;
  }
  #platform .container .wrap-info .wrap-info__text {
    max-width: 100%;
  }

  .section-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 90px 0;
  }
  .section-info__link {
    max-width: 470px;
  }
  .section-info__text {
    max-width: 470px;
  }
  .section-info__text p ~ p {
    padding-top: 32px;
  }

  .section-info__text {
    max-width: 700px;
  }
  .section-info__text p {
    text-align: end;
  }
}
@media screen and (max-width: 730px) {
  .container {
    max-width: 690px;
  }
}
@media screen and (max-width: 320px) {
  .container {
    max-width: 300px;
  }

  .first {
    background: #cbe7e8 url("../images/bg-image-m.jpg") center center/cover no-repeat;
  }
  .first-title {
    line-height: 64px;
    letter-spacing: 0.05em;
  }
  .first .container {
    height: 100%;
  }

  .blog .wrap-columns li,
.popular .wrap-columns li,
.posts .wrap-columns li {
    flex-direction: column;
    justify-content: center;
  }

  .wrap-columns__image img {
    width: 100%;
  }

  .contacts .contacts-phone,
.contacts .contacts-email {
    font-size: 18px;
  }
  .contacts-title {
    font-size: 32px;
    line-height: 42px;
  }

  .copyright {
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #000;
  }
}